<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style>
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
        <h3>Books:</h3>

        <table class = "books">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">id</td>
                <td><a th:text="${book.name}">Book name</a></td>
                <td><a th:text="${book.author.surname} + ' ' + ${book.author.name} + ' ' + ${book.author.patronymic ?: ''}">Author</a></td>
                <td th:text="${book.genre.name}">Book genre</td>
                <td><a th:href="@{/books/edit(id=${book.id})}" href="book.html">Edit book</a></td>
                <td>
                    <form th:action="@{/books/delete/{id}(id=${book.id})}" th:method="post" action="books.html">
                        <button type="submit"
                                onclick="return confirm('Are you sure you want to delete this book?');">Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <p>
            <a th:href="@{/books/edit(id=-1)}" href="book.html">New</a>
        </p>
</body>
</html>