<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style>
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function deleteBook(bookId, o) {
            fetch("/api/v1/book/" + bookId, {
                method: 'DELETE'
            }).then(function () {
                    let p = o.parentNode.parentNode;
                    p.parentNode.removeChild(p);
                }
            )
        }
    </script>
    <script>
        $(function () {
            $.get('/api/v1/book').done(function (books) {
                books.forEach(function (book) {
                    $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.name}</td>
                        <td>${book.author.surname} ${book.author.name} ${book.author.patronymic}</td>
                        <td>${book.genre.name}</td>
                        <td><a href="/books/edit?id=${book.id}">Edit book</a></td>
                        <td><button type="button" onclick="deleteBook(${book.id}, this)" >Delete</button></td>
                    </tr>
                `)
                });
            })
        });
    </script>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p>
    <a th:href="@{/books/edit(id=-1)}" href="book.html">New</a>
</p>
</body>
</html>

